body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;

    font-family: Arial, Helvetica, sans-serif;
}

.l-page-wrapper {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.l-header__wrapper {
    padding-left: 20px;
    background-color: lightblue;

    height: fit-content;
}

.l-main__wrapper {
    background-color: lightgoldenrodyellow;
    position: relative;
    flex-grow: 1;
}

.l-bookcase {
    width: 100%;
    transition: filter ease 0.5s;
}

.l-bookcase.--js-background {
    pointer-events: none;
    filter: blur(2px) saturate(85%) brightness(85%);
}

.l-bookshelves__space {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


/* Edit Menu */
.l-edit-menu__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    padding: 0;
    border: none;
    height: 100%;
    width: 40%;
    max-width: 500px;
    border-left: 4px solid black;
    background-color: white;
    transition: right ease-out 0.5s;
}

.l-edit-menu__wrapper.--js-hidden {
    right: -40%;
}

.c-edit-form {
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.l-edit-item__wrapper {
    display: flex;
    flex-direction: column;
}

.l-edit-item__wrapper.--buttons {
    flex-direction: row;
    justify-content: space-evenly;
}

textarea#edit-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    resize: none;
}

input#edit-author {
    font-size: 30px;
}

input#edit-pages {
    font-size: 21px;
}



/* Books */
.js-book-template {
    display: none;
}

.l-book__wrapper {
    /* background-color: lightgreen; */
    position: relative;
}

.l-book__wrapper::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 150%;
    position: relative;
}

.l-book__wrapper::after {
    content: "";
    clear: both;
}

.c-book {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    background-color: lightpink;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-book>p {
    display: flex;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.c-book>.c-book__title {
    flex-basis: 40%;
    font-size: 24px;
}

.c-book>.c-book__author {
    flex-basis: 10%;
    font-size: 20px;
}

.c-book>.c-book__pages {
    flex-basis: 5%;
    font-size: 14px;
}

.c-book__button-wrapper {
    flex-basis: 35%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}