/* Global Variables */
:root {
    --title-font-size: 9em;
    --author-font-size: 7em;
    --pages-font-size: 6em;
    --baseline-book-font-size: 2px;
    --js-book-font-size: 2px;
}

/* Outer Level Wrappers */
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;

    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
}

.l-page-wrapper {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Header - Wrapper */
.l-header__wrapper {
    height: 80px;
    width: 100%;
    flex-shrink: 0;
}

/* Header - Content */
.l-header__content {
    color: rgb(228, 228, 228);
    background-color: black;
    padding-left: 20px;
    height: 80px;
    width: 100%;
    font-size: 34px;
    position: fixed;
    top: 0;
}

h1 {
    margin: auto;
}


/* Bookcase */
.l-bookcase {
    width: 100%;
    flex-grow: 1;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    background: linear-gradient(90deg, black -100%, rgba(21,4,65,1) 100%);
}

/* Bookshelves - Space */
.l-bookshelves__space {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    transition: filter ease 0.5s;
}

.l-bookshelves__space.--js-background {
    pointer-events: none;
    filter: blur(4px) saturate(65%) brightness(35%);
}




/* Books */
/* Books - Hide Template */
.js-book-template {
    display: none;
}

/* Books - Wrapper (Aspect Ratio Box) */
.l-book__wrapper {
    position: relative;
}

.l-book__wrapper::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 150%;
    position: relative;
}

.l-book__wrapper::after {
    content: "";
    clear: both;
}

/* Book - Main */
.c-book {
    position: absolute;
    box-sizing: border-box;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    background-color: rgba(255,182,193,0.8);
    margin: 0px;
    padding: 5px 0px;

    display: flex;
    flex-direction: column;

    font-size: var(--js-book-font-size);
}

.c-book.--js-read {
    background-color: rgba(144,238,144,0.8);
}

.c-book:hover {
    background-color: rgba(255,182,193,0.9);
}

.c-book.--js-read:hover {
    background-color: rgba(144,238,144,0.9);
}

/* Book - Fields */
.c-book>* {
    margin: 5px 5px
}

.c-book>p {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.c-book>.c-book__title {
    flex-basis: 40%;
    font-size: var(--title-font-size);
}

.c-book>.c-book__author {
    flex-basis: 25%;
    font-size: var(--author-font-size);
}

.c-book>.c-book__pages {
    flex-basis: 10%;
    font-size: var(--pages-font-size);
}

/* Book - Buttons */
/* Book Buttons - Wrapper */
.c-book__button-wrapper {
    flex-basis: 25%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    visibility: hidden;
}

.c-book:hover>.c-book__button-wrapper {
    visibility: visible;
}

/* Book Buttons - Main */
.c-book__button {
    font-size: 18px;
    height: 40px;
    width: 40px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Book Buttons - Read Status */
.c-book__button>img {
    /* Prevent grabbing on read status icon */
    pointer-events: none;
}

.c-book__button.--read-status {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(129deg, rgb(5, 114, 238) 0%, rgb(106, 175, 253) 73%, rgb(5, 114, 238) 100%);
    position: relative;
    filter: grayscale();
}

.c-book__button.--read-status:hover {
    background: linear-gradient(165deg, rgb(5, 114, 238) 0%, rgb(106, 175, 253) 73%, rgb(5, 114, 238) 100%);
    transform: scale(1.05);
}

.c-book__button.--read-status:hover:active {
    box-shadow: 0px 0px 10px 0px rgb(106, 175, 253);
}

.c-book__button.--read-status::before {
    content: url(assets/read_icon.svg);
    position: absolute;
    top: 2px;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-book__button.--read-status:checked {
    filter: none;
}

/* Book Buttons - Edit and Delete */
.c-book__button.--edit {
    background-color: rgb(21, 134, 21);
    background: linear-gradient(129deg, rgb(21, 134, 21) 0%, rgb(82, 173, 82) 73%, rgb(21, 134, 21) 100%);

    color: white;
}

.c-book__button.--edit:hover {
    background: linear-gradient(165deg, rgb(21, 134, 21) 0%, rgb(82, 173, 82) 73%, rgb(21, 134, 21) 100%);
    transform: scale(1.05);
}

.c-book__button.--edit:hover:active {
    box-shadow: 0px 0px 10px 0px rgb(82, 173, 82);
}

.c-book__button.--delete {
    background: linear-gradient(129deg, rgba(227,34,34,1) 0%, rgba(251,108,139,1) 73%, rgba(227,34,34,1) 100%);
    color: white;
}

.c-book__button.--delete:hover {
    background: linear-gradient(165deg, rgba(227,34,34,1) 0%, rgba(251,108,139,1) 73%, rgba(227,34,34,1) 100%);
    transform: scale(1.05);
}

.c-book__button.--delete:hover:active {
    box-shadow: 0px 0px 10px 0px rgba(251,108,139,1);
}

/* Book - Add (new) Book Button */
.c-book.--add-book-button {
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: lightgreen;
    border: 8px solid lightgreen;
    background-color: transparent;
}

.c-book.--add-book-button:hover {
    box-shadow: 0px 0px 7px 0px lightgreen,
        inset 0px 0px 7px 0px lightgreen;
    font-size: 60px;
}



/* Edit Menu */
.l-edit-menu__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    padding: 0;
    border: none;
    height: 80vh;
    min-height: 460px;
    max-height:620px;
    width: 40%;
    max-width: 500px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    background-color: black;
    color: white;
    transition: right ease-out 0.5s;
}

.l-edit-menu__wrapper.--js-hidden {
    right: -40%;
}

/* Edit Menu - Edit Form */
.c-edit-form {
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* overflow-y: auto; */
}

/* Edit Form - Item Wrappers */
.l-edit-item__wrapper {
    display: flex;
    flex-direction: column;
}

.l-edit-item__wrapper > * {
    background-color: black;
    color: white;
}

.l-edit-item__wrapper.--buttons {
    flex-direction: row;
    justify-content: space-evenly;
}

/* Edit Form - Inputs */

.l-edit-item__wrapper > *::placeholder {
    color: white;
    opacity: 25%;
}

textarea#edit-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    resize: none;
    border: 1px solid white;
}

input#edit-author {
    font-size: 26px;
    border: 1px solid white;
}

input#edit-pages {
    font-size: 18px;
    border: 1px solid white;
}

/* Edit Form - Buttons */
.l-edit-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 25px;
}

.l-edit-button.--submit {
    background: linear-gradient(129deg, rgb(21, 134, 21) 0%, rgb(82, 173, 82) 73%, rgb(21, 134, 21) 100%);
    border: 1px solid rgb(21, 134, 21);
    color: black;
}

.l-edit-button.--submit:hover {
    transform: scale(1.05);
    background: linear-gradient(165deg, rgb(21, 134, 21) 0%, rgb(82, 173, 82) 73%, rgb(21, 134, 21) 100%);
}

.l-edit-button.--submit:hover:active {
    box-shadow: 0px 0px 12px 0px rgb(82, 173, 82);
}

.l-edit-button.--submit:disabled {
    filter: grayscale();
    opacity: 50%;
    pointer-events: none;
}

.l-edit-button.--submit.--js-add-mode {
    color: white;
    font-size: 36px;
}

.l-edit-button.--cancel {
    background: linear-gradient(129deg, rgba(227,34,34,1) 0%, rgba(251,108,139,1) 73%, rgba(227,34,34,1) 100%);
    border: 1px solid rgba(227,34,34,1);
    color: white;
}

.l-edit-button.--cancel:hover {
    transform: scale(1.05);
    background: linear-gradient(165deg, rgba(227,34,34,1) 0%, rgba(251,108,139,1) 73%, rgba(227,34,34,1) 100%);
}

.l-edit-button.--cancel:hover:active {
    box-shadow: 0px 0px 12px 0px rgba(251,108,139,1);
}

/* Edit Form - Invalid Input */
.c-edit-form #edit-title:valid {
    border: 1px solid rgb(21, 134, 21);
}

.c-edit-form #edit-title:invalid {
    border: 1px dashed rgba(227,34,34,1);
}

.c-edit-form #edit-author:valid {
    border: 1px solid rgb(21, 134, 21);
}

.c-edit-form #edit-author:invalid {
    border: 1px dashed rgba(227,34,34,1);
}

.c-edit-form #edit-pages:valid {
    border: 1px solid rgb(21, 134, 21);
}

.c-edit-form #edit-pages:invalid {
    border: 1px dashed rgba(227,34,34,1);
}

.c-edit-form:invalid .l-edit-button.--submit {
    filter: grayscale();
    opacity: 50%;
}